{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% load static %}

{% block content %}

    <div class="Post">
        <form id="post-form" action="{% url 'home' %}" method="post" role="form">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            {% bootstrap_form post_form %}
            {% if request.user.is_authenticated %}
                <button class="btn btn-success" type="submit">Post Publicly</button>
            {% else %}
                <h6><a href="{% url 'accounts:log_in' %}">Sign in</a> to post anything</h6>
            {% endif %}
        </form>

        {% for post in posts %}
        <h6>[ {{ post.posted_at }} ]: {{ post.sender }}</h6>
        <p>{{ post.title|safe }}</p><hr><p>{{ post.post|safe }}</p>
        <hr>
            <div class="replies" style="border: 1px solid gray">
            {% for reply in replies %}
                {% if reply.forum_post.pk == post.pk %}
                    {{reply.user}} : {{ reply.post|safe }}
                {% endif %}
            {% endfor %}

            </div>
            <form id="post-reply-form" action="{% url 'post_reply' post_id=post.pk %}" method="post" role="form">
                {% csrf_token %}
                {% bootstrap_form reply_form  size="small" show_label=False %}
                {% if request.user.is_authenticated %}
                    <button class="btn btn-success" type="submit">Post Reply</button>
                {% else %}
                    <h6><a href="{% url 'accounts:log_in' %}">Sign in</a> to post anything</h6>
                {% endif %}
            </form>
        {% endfor %}

    </div>

{% endblock %}