{% extends 'layouts/default/page.html' %}

{% load static %}

{% load bootstrap4 %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}

{% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

{% else %}

{% trans 'You are a guest.' %}

{% endif %}
<hr>
<style>
    .Contact {
        border: 1px solid gray;
        padding: 2% 2% 2% 2%;
        margin: 1% 1% 1% 1%;
        border-radius: 10px;
    }
</style>
<p>This is the main home page of this site . </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Vivamus arcu felis bibendum ut tristique et egestas. Fringilla urna porttitor rhoncus dolor purus. Nunc id
    cursus metus aliquam eleifend. A erat nam at lectus urna. Pretium lectus quam id leo in vitae turpis. Morbi blandit
    cursus risus at ultrices. Diam sit amet nisl suscipit adipiscing. Ullamcorper a lacus vestibulum sed arcu non odio
    euismod lacinia. Lobortis scelerisque fermentum dui faucibus in ornare.

    Iaculis eu non diam phasellus vestibulum lorem. Lacinia quis vel eros donec ac odio tempor orci. A iaculis at erat
    pellentesque adipiscing commodo elit at imperdiet. Amet nulla facilisi morbi tempus. Cum sociis natoque penatibus
    et. Ac
    tincidunt vitae semper quis lectus nulla at volutpat. Praesent elementum facilisis leo vel fringilla. Nibh sit amet
    commodo nulla facilisi. Lectus proin nibh nisl condimentum id venenatis. Enim neque volutpat ac tincidunt vitae
    semper
    quis lectus. Facilisis sed odio morbi quis commodo. Quam viverra orci sagittis eu volutpat odio facilisis. Mattis
    ullamcorper velit sed ullamcorper. Libero enim sed faucibus turpis in eu mi bibendum. Arcu felis bibendum ut
    tristique
    et egestas quis. Facilisis volutpat est velit egestas dui id ornare arcu odio. Ipsum dolor sit amet consectetur
    adipiscing elit duis tristique. Ipsum dolor sit amet consectetur adipiscing elit duis. Libero enim sed faucibus
    turpis
    in eu.

    Quam quisque id diam vel quam elementum pulvinar etiam non. At tellus at urna condimentum. A erat nam at lectus urna
    duis convallis convallis. Etiam erat velit scelerisque in dictum non consectetur a erat. Amet justo donec enim diam
    vulputate ut pharetra sit amet. Massa vitae tortor condimentum lacinia quis. Amet mattis vulputate enim nulla
    aliquet
    porttitor. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. Nec tincidunt praesent semper feugiat nibh
    sed.
    Dignissim convallis aenean et tortor at risus. Quis commodo odio aenean sed adipiscing diam donec. Bibendum enim
    facilisis gravida neque convallis a cras semper auctor. Justo eget magna fermentum iaculis eu non diam phasellus
    vestibulum. Libero volutpat sed cras ornare arcu dui vivamus arcu. Feugiat vivamus at augue eget arcu dictum varius.
    Arcu cursus vitae congue mauris rhoncus aenean vel. Ut diam quam nulla porttitor massa. Pharetra vel turpis nunc
    eget
    lorem dolor sed. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Neque aliquam vestibulum
    morbi
    blandit cursus risus.

    Duis ut diam quam nulla. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Quis varius quam
    quisque id. At tempor commodo ullamcorper a lacus. Sed cras ornare arcu dui vivamus arcu felis bibendum. Varius duis
    at
    consectetur lorem donec. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Ac tortor
    dignissim convallis aenean. Arcu felis bibendum ut tristique et. Dui vivamus arcu felis bibendum ut tristique.

    Nunc sed id semper risus in. Lacus suspendisse faucibus interdum posuere. Justo nec ultrices dui sapien. Aliquet
    risus
    feugiat in ante metus dictum at tempor. Id volutpat lacus laoreet non curabitur gravida. Semper risus in hendrerit
    gravida rutrum quisque non tellus. Quam nulla porttitor massa id neque aliquam vestibulum. Enim nec dui nunc mattis
    enim
    ut tellus elementum sagittis. Ac orci phasellus egestas tellus. Etiam tempor orci eu lobortis elementum. Elementum
    eu
    facilisis sed odio morbi quis. Massa sapien faucibus et molestie ac. Tortor pretium viverra suspendisse potenti.
    Tincidunt arcu non sodales neque sodales ut etiam. Nibh sit amet commodo nulla facilisi nullam vehicula. Nisl nunc
    mi
    ipsum faucibus vitae aliquet nec. Elit eget gravida cum sociis natoque penatibus et magnis. Consectetur a erat nam
    at
    lectus urna duis convallis. Lorem mollis aliquam ut porttitor leo a diam.

    At in tellus integer feugiat scelerisque varius morbi. Ultricies mi quis hendrerit dolor. Augue mauris augue neque
    gravida. Feugiat in fermentum posuere urna nec. Cras adipiscing enim eu turpis egestas pretium aenean. Eu feugiat
    pretium nibh ipsum consequat. Vulputate ut pharetra sit amet aliquam id diam maecenas. Ut tortor pretium viverra
    suspendisse potenti nullam ac. Vitae tempus quam pellentesque nec nam aliquam. Proin sed libero enim sed faucibus
    turpis. Sed tempus urna et pharetra pharetra massa. Nibh sit amet commodo nulla. Pharetra sit amet aliquam id diam
    maecenas ultricies mi. Amet massa vitae tortor condimentum. Metus vulputate eu scelerisque felis imperdiet proin
    fermentum leo vel.

    In nibh mauris cursus mattis molestie a iaculis at. Id velit ut tortor pretium viverra. Proin nibh nisl condimentum
    id
    venenatis a. Tincidunt id aliquet risus feugiat in ante metus dictum at. Morbi tincidunt ornare massa eget egestas.
    Tincidunt eget nullam non nisi est sit amet facilisis magna. Velit aliquet sagittis id consectetur purus ut faucibus
    pulvinar elementum. Malesuada proin libero nunc consequat interdum varius sit amet mattis. Ac placerat vestibulum
    lectus
    mauris ultrices. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Auctor eu augue ut lectus arcu bibendum.
    Elementum tempus egestas sed sed risus pretium quam vulputate. Enim diam vulputate ut pharetra. Diam sit amet nisl
    suscipit adipiscing bibendum est ultricies integer. Ornare massa eget egestas purus viverra accumsan in nisl nisi.
    Faucibus interdum posuere lorem ipsum.
</p>
</p>
Quis imperdiet massa tincidunt nunc. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Tincidunt id aliquet
risus feugiat in. Sit amet nisl suscipit adipiscing. Massa sapien faucibus et molestie ac. Non quam lacus suspendisse
faucibus interdum. Turpis egestas sed tempus urna. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus.
Orci a scelerisque purus semper eget. Facilisis volutpat est velit egestas dui id. Commodo sed egestas egestas fringilla
phasellus faucibus scelerisque eleifend donec.
</p>
<p>
    Mattis rhoncus urna neque viverra justo nec ultrices dui. Morbi tempus iaculis urna id volutpat lacus. Diam in arcu
    cursus euismod. Ut aliquam purus sit amet luctus venenatis lectus magna. Ornare suspendisse sed nisi lacus. Pulvinar
    mattis nunc sed blandit libero volutpat. Risus nullam eget felis eget nunc lobortis mattis. Duis at tellus at urna
    condimentum mattis pellentesque. Id donec ultrices tincidunt arcu non. Nibh venenatis cras sed felis eget velit. Sit
    amet consectetur adipiscing elit. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Turpis egestas integer
    eget aliquet nibh. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. In egestas erat imperdiet sed euismod
    nisi porta lorem mollis. Nibh tellus molestie nunc non blandit massa enim. Nulla aliquet enim tortor at auctor urna.
    Vitae et leo duis ut diam. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Nulla facilisi etiam
    dignissim diam quis enim lobortis scelerisque.</p>
<p>
    Neque volutpat ac tincidunt vitae semper. Mauris commodo quis imperdiet massa tincidunt. Morbi leo urna molestie at
    elementum eu facilisis. Malesuada nunc vel risus commodo viverra maecenas accumsan. Id volutpat lacus laoreet non
    curabitur gravida arcu ac tortor. Sed viverra tellus in hac habitasse. Et tortor consequat id porta nibh venenatis
    cras.
    Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Etiam sit amet nisl purus in mollis nunc. Vitae turpis
    massa sed elementum tempus egestas sed sed. Et tortor consequat id porta nibh. Quam vulputate dignissim suspendisse
    in
    est.</p>
<h4>About Section</h4>
<hr>
<div style="display:flex;justify-content:center;align-items:center;">
    <div class="card card-container">
        <div class="card-body">
            <div class="Contact">
                <h3 style="text-align: center">Contact Us</h3>
                <hr>
                <form id="contact-form" action="{% url 'index' %}" method="post" role="form">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False %}
                    <button class="btn btn-success" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}