{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h3>{% trans 'Your Subscriptions' %}</h3><hr>
    <div class="d-flex" style="flex-wrap: wrap;">
        {% for series in all_series %}

        {% if request.user.username in series.subscribed_users %}

            <div class="Registered Tutorial" style="border: 1px solid black; cursor: pointer;" onclick="window.location='{% url 'series_content' series_pk=series.pk %}' ">
                <h3><b>{{series.title}}</b> </h3>
                <h6><em><b>Tutor: </b> {{series.tutor}}</em> </h6>
                <p> {{series.description}} </p>
            </div>

        {% endif %}

    {% endfor %}
    </div>

{% endblock %}
