{% extends 'layouts/default/page.html' %}

{% load static %}

{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}

{% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

{% else %}

{% trans 'You are a guest.' %}
<h1>Available Tutorials on our site are </h1>

{% endif %}

    {% for series in all_series %}

        {% if request.user.is_authenticated %}


                {% if request.user.username in series.subscribed_users %}
                
                    <div class="Registered Tutorials zoom" >
                        <div style="padding: 10px">
                        
                        <h3><b>{{series.title}}</b> </h3>
                        <h6><em><b>Tutor: </b> {{series.tutor}}</em> </h6>
                        <p> {{series.description}} </p>
                        <h6> {{series.price}}$ only<br>{{series.number_of_tuts}} lectures in total <br> {{series.type}} : lectures. </h5>
                        <a href="{% url 'series_content' series_pk=series.pk %}">Goto to content</a>
                    </div>
                    </div>
                {% else %}
                    <div class="Unregistered Tutorials zoom" >
                        <div style="padding: 10px">

                                <h3><b>{{series.title}}</b> </h3>
                                <h6><em><b>Tutor: </b> {{series.tutor}}</em> </h6>
                                <p> {{series.description}} </p>
                                <h6> {{series.price}}$ only<br>{{series.number_of_tuts}} lectures in total <br> {{series.type}} : lectures. </h5>

                        <form action="{% url 'tut_index' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ request.user.username }}">
                            <input type="text" name="series" value="{{ series.pk }}">
                            <input type="submit" value="register">
                        </form>
                        </div>
                    </div>
                {% endif %}

        {% else %}


            <div class="Tutorials zoom">
                <div style="padding: 10px">

                        <h3><b>{{series.title}}</b> </h3>
                        <h6><em><b>Tutor: </b> {{series.tutor}}</em> </h6>
                        <p> {{series.description}} </p>
                        <h6> {{series.price}}$ only<br>{{series.number_of_tuts}} lectures in total <br> {{series.type}} : lectures. </h5>
                            <p><a href="{% url 'accounts:log_in' %}">Sign in</a> to see full details</p>
                </div>
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}
