{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div style="display:flex;justify-content:center;align-items:center;">
    <div class="card card-container">
        <div class="card-body">
            <h4>{% trans 'Change profile' %}</h4>

            <form method="post">

                {% csrf_token %}
                {% bootstrap_form form %}

                <button class="btn btn-success">{% trans 'Change' %}</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}