{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An example of Django project with basic user functionality.">
    <meta name="author" content="Yehor Smoliakov">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Geeksportal-tutorials for Programmers</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
    .zoom {
            border: 0.5px groove; 
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 10px; 
            background-color: rgb(233, 234, 238);
           } 
    .zoom:hover {
        box-shadow:10px 10px 10px grey;
        transform: scale(1.01);
        transition-duration: 500ms;


    }       
    </style>

</head>

<body>

<div class = "navbar navbar-dark bg-dark" style="padding-left:6%">
		
			<a class="navbar-brand" href="#" style="color:white; font-size: 1.5rem">Geeks Portal</a>
	
		<nav class="navbar navbar-expand-xl navbar-dark" style="float:right; text-align: center;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent5" aria-controls="navbarSupportedContent5" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent5">
			<ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tut_index' %}">{% trans 'Tutorials' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">{% trans 'Forum' %}</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="True" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Report Card</a>
                      <a class="dropdown-item" href="#">Subscriptions</a>
                      <a class="dropdown-item" href="#">Activity log</a>
                        <div class = "dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a>
                      <a class="dropdown-item" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a>
                      <a class="dropdown-item" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a>
                      <a class="dropdown-item" href="{% url 'change_language' %}">{% trans 'Change language' %}</a>
                        <div class = "dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Sign in' %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

	</div>
<div class="container" >

    {% bootstrap_messages %}

    {% block content %}

    {% endblock %}

</div>

<script src="{% static 'vendor/jquery/jquery-3.3.1.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>
