{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>

<html lang="{{ language_code }}">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An example of Django project with basic user functionality.">
    <meta name="author" content="Yehor Smoliakov">

    <link rel="icon" href="{% static 'gp.png' %}">

    <title>Geeksportal-tutorials for Programmers</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">

    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Yatra One|Rakkas|BioRhyme|Alegreya|Vollkorn SC" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
<style>
    body {
        background : aliceblue ;
        font-family : Algereya ;
    }

    #profile and index page css

    .Series {
        flex-wrap: wrap ;
        justify-content: space-around ;
        padding :1% 1% 1% 1% ;
        font-family : Vollkorn ;
    }
    .Tutorial {
        min-width: 400px ;
        width : 40% ;
        padding : 2% 2% 2% 2% ;
        margin : 2% 2% 2% 2% ;
        border: 0.5px solid grey;
        background-color: rgb(233, 234, 238, 0.5);
        box-shadow : 10px 10px 10px grey ;
    }
    .Tutorial:hover {
        box-shadow:10px 10px 10px black ;
        transition-duration: 500ms;
    }
</style>

<div class = "navbar navbar-light sticky-top" style="padding-left:6%; padding-right: 6%; margin-bottom: 2% ; background : lightgray; font-family: Vollkorn SC; border-bottom: 1px solid black;">
		
			<a class="navbar-brand" href="{% url 'index' %}" style="font-size: 1.5rem">Geeks Portal</a>
	
		<nav class="navbar navbar-expand-xl navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent5" aria-controls="navbarSupportedContent5" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent5">

			<ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tut_index' %}">{% trans 'Tutorials' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">{% trans 'Forum' %}</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown" style="margin-left: 10px ;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{request.user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'profile' %}#myreplies">Activity Log</a>
                  <a class="dropdown-item" href="{% url 'profile' %}#mysubscriptions">Subscriptions</a>
                  <a class="dropdown-item" href="{% url 'profile' %}#myposts">Your Posts</a>
                    <div class = "dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a>
                  <a class="dropdown-item" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a>
                  <a class="dropdown-item" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a>
                  <a class="dropdown-item" href="{% url 'change_language' %}">{% trans 'Change language' %}</a>
                    <div class = "dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>
                </div>
              </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Sign in' %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
        </nav>
	</div>
<div class="container" style="min-height: 100vh;">

    {% bootstrap_messages %}

    {% block content %}

    {% endblock %}

</div>

<script type="text/javascript">
		// Create Variables
		var allOSB = [];
		var mxh = '';

		window.onload = function() {
		  // Set Variables
		  allOSB = document.getElementsByClassName("only-so-big");

		  if (allOSB.length > 0) {
			mxh = window.getComputedStyle(allOSB[0]).getPropertyValue('max-height');
			mxh = parseInt(mxh.replace('px', ''));

			// Add read-more button to each OSB section
			for (var i = 0; i < allOSB.length; i++) {
			  var el = document.createElement("button");
			  el.innerHTML = "Read More";
			  el.setAttribute("type", "button");
			  el.setAttribute("class", "read-more hid");

			  insertAfter(allOSB[i], el);
			}
		  }

		  // Add click function to buttons
		  var readMoreButtons = document.getElementsByClassName("read-more");
		  for (var i = 0; i < readMoreButtons.length; i++) {
			readMoreButtons[i].addEventListener("click", function() {
			  revealThis(this);
			}, false);
		  }

		  // Update buttons so only the needed ones show
		  updateReadMore();
		}
		// Update on resize
		window.onresize = function() {
		  updateReadMore();
		}

		// show only the necessary read-more buttons
		function updateReadMore() {
		  if (allOSB.length > 0) {
			for (var i = 0; i < allOSB.length; i++) {
			  if (allOSB[i].scrollHeight > mxh) {
				if (allOSB[i].hasAttribute("style")) {
				  updateHeight(allOSB[i]);
				}
				allOSB[i].nextElementSibling.className = "read-more";
			  } else {
				allOSB[i].nextElementSibling.className = "read-more hid";
			  }
			}
		  }
		}

		function revealThis(current) {
		  var el = current.previousElementSibling;
		  if (el.hasAttribute("style")) {
			current.innerHTML = "Read More";
			el.removeAttribute("style");
		  } else {
			updateHeight(el);
			current.innerHTML = "Show Less";
		  }
		}

		function updateHeight(el) {
		  el.style.maxHeight = el.scrollHeight + "px";
		}

		// thanks to karim79 for this function
		// http://stackoverflow.com/a/4793630/5667951
		function insertAfter(referenceNode, newNode) {
			referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
		}

	</script>
	<style>
		.only-so-big {
		  height: 100%;
		  max-height: 100px;
		  overflow: hidden;
		  -webkit-transition: max-height .75s;
		  transition: max-height .75s;
		  <!--background : #DDF3ED ;-->
		}

		.read-more {
		  background: none;
		  border: none;
		  color: #1199f9;
		  cursor: pointer;
		  outline: none;
		  width : 100% ;
		}
		.read-more:hover {
		  text-decoration: underline;
		}
		.read-more:focus {
		  outline: none;
		}
		.read-more::-moz-focus-inner {
		  border: 0;
		}
		.hid {
		  display: none;
		}
	</style>

<script src="{% static 'vendor/jquery/jquery-3.3.1.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>


     <!-- all other page content -->

<footer style="padding : 1%;  text-align: center; background: lightgray; width: 100%; margin-bottom: 0 ;">
	<div class="footer-tagline" style="font-size: 1.5rem; font-family: Rakkas; ">
        Thankyou for being here.
    </div>
    <p class="text-right">Copyright @2019 | Designed by <a href="aniket-sharma.herokuapp.com">Aniket Sharma</a></p>
</footer>

</body>
</html>
